{% extends 'frames/base.html' %} {% block body %}
<main>
  <h1>Home</h1>
  <hr />
  <h3>This is the home page</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Laoreet suspendisse
    interdum consectetur libero id faucibus nisl tincidunt eget. In metus
    vulputate eu scelerisque felis imperdiet. Maecenas accumsan lacus vel
    facilisis volutpat est velit egestas. Quam pellentesque nec nam aliquam sem
    et. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi.
    Egestas purus viverra accumsan in nisl nisi. Feugiat nibh sed pulvinar
    proin. Turpis massa tincidunt dui ut ornare lectus sit amet. Porttitor leo a
    diam sollicitudin tempor id eu nisl nunc. Erat imperdiet sed euismod nisi
    porta lorem mollis aliquam ut. Posuere morbi leo urna molestie at elementum
    eu. Non enim praesent elementum facilisis leo vel fringilla. Massa massa
    ultricies mi quis hendrerit dolor magna eget est. Tellus mauris a diam
    maecenas. Ut tristique et egestas quis ipsum suspendisse ultrices gravida
    dictum. Velit ut tortor pretium viverra suspendisse potenti nullam. Ipsum
    dolor sit amet consectetur adipiscing elit. Odio ut sem nulla pharetra diam.
    Aliquet eget sit amet tellus cras adipiscing enim. Facilisis volutpat est
    velit egestas dui id ornare arcu. Ullamcorper dignissim cras tincidunt
    lobortis feugiat vivamus at. Cursus in hac habitasse platea dictumst
    quisque. Diam quam nulla porttitor massa id. At urna condimentum mattis
    pellentesque id. Ultrices vitae auctor eu augue ut lectus arcu bibendum.
    Arcu dictum varius duis at consectetur. Hac habitasse platea dictumst
    quisque sagittis purus sit. Est placerat in egestas erat imperdiet sed.
    Facilisi etiam dignissim diam quis enim lobortis scelerisque. Porttitor
    rhoncus dolor purus non. Et sollicitudin ac orci phasellus egestas tellus
    rutrum. Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Sapien
    pellentesque habitant morbi tristique senectus et netus. Nisl purus in
    mollis nunc sed id. Sit amet justo donec enim diam. Vitae auctor eu augue ut
    lectus. Vulputate ut pharetra sit amet. Amet purus gravida quis blandit
    turpis cursus in hac. Arcu vitae elementum curabitur vitae nunc sed velit.
    Dictum sit amet justo donec enim diam vulputate ut. Magnis dis parturient
    montes nascetur ridiculus mus mauris vitae. Non pulvinar neque laoreet
    suspendisse interdum consectetur libero id faucibus. Viverra orci sagittis
    eu volutpat. Nec ullamcorper sit amet risus nullam eget. Non pulvinar neque
    laoreet suspendisse. Odio eu feugiat pretium nibh ipsum consequat. Mauris
    augue neque gravida in fermentum et sollicitudin ac orci. Lorem dolor sed
    viverra ipsum nunc aliquet bibendum. Imperdiet proin fermentum leo vel orci
    porta non pulvinar. Varius sit amet mattis vulputate enim nulla aliquet. Id
    leo in vitae turpis massa. A iaculis at erat pellentesque adipiscing
    commodo. Faucibus vitae aliquet nec ullamcorper sit amet risus. Egestas
    integer eget aliquet nibh. Sollicitudin nibh sit amet commodo nulla
    facilisi. Aliquet eget sit amet tellus cras adipiscing enim eu. Molestie at
    elementum eu facilisis sed odio. Purus semper eget duis at. Et molestie ac
    feugiat sed lectus vestibulum. Diam maecenas sed enim ut sem viverra
    aliquet. Nec feugiat in fermentum posuere urna. Aenean pharetra magna ac
    placerat vestibulum lectus. Vel eros donec ac odio tempor orci dapibus
    ultrices in. Sit amet venenatis urna cursus eget nunc. Laoreet non curabitur
    gravida arcu ac tortor dignissim convallis. Phasellus vestibulum lorem sed
    risus ultricies tristique nulla aliquet enim. Enim nec dui nunc mattis.
    Morbi tincidunt ornare massa eget egestas purus viverra accumsan in. Congue
    quisque egestas diam in arcu cursus euismod quis. Sapien et ligula
    ullamcorper malesuada. Porta non pulvinar neque laoreet suspendisse interdum
    consectetur. Eget felis eget nunc lobortis. Justo eget magna fermentum
    iaculis. A condimentum vitae sapien pellentesque habitant morbi tristique
    senectus. Aenean et tortor at risus viverra adipiscing at in. Nulla at
    volutpat diam ut. Diam in arcu cursus euismod quis viverra nibh cras. Id
    donec ultrices tincidunt arcu non sodales neque sodales. In cursus turpis
    massa tincidunt dui. Facilisis leo vel fringilla est ullamcorper. Maecenas
    accumsan lacus vel facilisis volutpat est velit. Mauris augue neque gravida
    in fermentum et sollicitudin ac orci. In hendrerit gravida rutrum quisque
    non tellus orci ac auctor. Molestie nunc non blandit massa enim nec dui.
    Enim sit amet venenatis urna cursus eget. Habitant morbi tristique senectus
    et. Pretium viverra suspendisse potenti nullam ac. Viverra aliquet eget sit
    amet tellus cras. Faucibus in ornare quam viverra orci sagittis eu. Tortor
    condimentum lacinia quis vel. Augue interdum velit euismod in pellentesque
    massa placerat duis ultricies. Tincidunt id aliquet risus feugiat in ante
    metus. In tellus integer feugiat scelerisque varius morbi enim nunc. Augue
    lacus viverra vitae congue. Convallis posuere morbi leo urna molestie at
    elementum eu facilisis. Habitant morbi tristique senectus et netus.
    Ultricies tristique nulla aliquet enim tortor at auctor urna nunc. In hac
    habitasse platea dictumst. Urna neque viverra justo nec ultrices dui sapien.
    Egestas congue quisque egestas diam in arcu. Vitae et leo duis ut diam quam
    nulla porttitor massa. Enim eu turpis egestas pretium aenean pharetra magna
    ac. Viverra tellus in hac habitasse. Augue eget arcu dictum varius duis. Est
    ante in nibh mauris cursus. Aliquet nibh praesent tristique magna sit amet.
    Ac tincidunt vitae semper quis lectus nulla at. Dictum varius duis at
    consectetur. Erat imperdiet sed euismod nisi. In egestas erat imperdiet sed
    euismod nisi porta lorem mollis. Justo donec enim diam vulputate ut pharetra
    sit. Fames ac turpis egestas sed tempus urna. Vel eros donec ac odio tempor
    orci dapibus ultrices. Ultricies tristique nulla aliquet enim tortor at
    auctor urna nunc. Massa id neque aliquam vestibulum morbi blandit cursus.
    Sit amet cursus sit amet dictum sit amet. Ultrices gravida dictum fusce ut.
    Donec adipiscing tristique risus nec feugiat in. Laoreet suspendisse
    interdum consectetur libero id faucibus nisl tincidunt eget. Aenean euismod
    elementum nisi quis eleifend quam adipiscing vitae. Donec et odio
    pellentesque diam volutpat commodo sed egestas. Dictum sit amet justo donec
    enim. Aliquam id diam maecenas ultricies mi eget. Vitae congue mauris
    rhoncus aenean vel. Odio eu feugiat pretium nibh ipsum consequat nisl vel.
    Duis at consectetur lorem donec massa sapien faucibus. Porttitor rhoncus
    dolor purus non enim praesent elementum facilisis leo. Faucibus ornare
    suspendisse sed nisi lacus. Ut tortor pretium viverra suspendisse potenti
    nullam ac tortor vitae. Aliquam nulla facilisi cras fermentum odio eu
    feugiat pretium. Risus sed vulputate odio ut enim. Condimentum id venenatis
    a condimentum vitae. Vulputate sapien nec sagittis aliquam malesuada
    bibendum arcu vitae. Dis parturient montes nascetur ridiculus mus mauris.
    Lorem ipsum dolor sit amet. Posuere morbi leo urna molestie at elementum eu
    facilisis. Massa eget egestas purus viverra accumsan in nisl. Etiam erat
    velit scelerisque in dictum non consectetur a. Sit amet risus nullam eget
    felis. Sollicitudin aliquam ultrices sagittis orci a. Euismod in
    pellentesque massa placerat duis ultricies lacus. Cras sed felis eget velit
    aliquet. Facilisis sed odio morbi quis. Ligula ullamcorper malesuada proin
    libero nunc consequat. Urna et pharetra pharetra massa massa ultricies. Diam
    in arcu cursus euismod quis viverra nibh cras. Morbi non arcu risus quis
    varius quam. Proin fermentum leo vel orci porta non pulvinar neque laoreet.
    Malesuada proin libero nunc consequat. Quisque id diam vel quam. Feugiat
    pretium nibh ipsum consequat nisl. Nunc sed blandit libero volutpat sed cras
    ornare arcu. Nisi est sit amet facilisis magna etiam tempor orci. In eu mi
    bibendum neque egestas congue quisque egestas diam. Cras semper auctor neque
    vitae tempus quam pellentesque. Massa enim nec dui nunc mattis enim ut
    tellus elementum. Tristique nulla aliquet enim tortor at auctor urna. Congue
    mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar.
    Elementum facilisis leo vel fringilla est. Suspendisse in est ante in nibh
    mauris. Consectetur a erat nam at lectus urna duis convallis. Mattis rhoncus
    urna neque viverra justo nec. Tincidunt vitae semper quis lectus. Ut
    placerat orci nulla pellentesque dignissim enim sit amet venenatis. Ultrices
    dui sapien eget mi proin sed libero enim. Aenean vel elit scelerisque mauris
    pellentesque pulvinar pellentesque habitant morbi. Pharetra vel turpis nunc
    eget lorem dolor sed viverra ipsum. Mauris cursus mattis molestie a iaculis
    at. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Gravida arcu
    ac tortor dignissim. Pellentesque habitant morbi tristique senectus et.
    Nulla malesuada pellentesque elit eget. Risus feugiat in ante metus dictum
    at tempor. Pretium viverra suspendisse potenti nullam ac tortor vitae purus.
    Justo donec enim diam vulputate ut. Nisi porta lorem mollis aliquam ut.
    Mattis ullamcorper velit sed ullamcorper. In hac habitasse platea dictumst
    vestibulum rhoncus est. Viverra nam libero justo laoreet sit amet cursus sit
    amet. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Ipsum
    nunc aliquet bibendum enim facilisis. Mi sit amet mauris commodo quis
    imperdiet massa. Fermentum odio eu feugiat pretium nibh ipsum. Suspendisse
    in est ante in nibh mauris cursus mattis. Ac ut consequat semper viverra nam
    libero. Sed viverra tellus in hac habitasse platea dictumst. Amet porttitor
    eget dolor morbi non arcu risus quis. Imperdiet sed euismod nisi porta lorem
    mollis aliquam. In fermentum posuere urna nec tincidunt praesent semper
    feugiat. Velit euismod in pellentesque massa placerat duis ultricies lacus
    sed. Volutpat blandit aliquam etiam erat velit. In ornare quam viverra orci
    sagittis eu. Viverra maecenas accumsan lacus vel facilisis volutpat est
    velit. Pharetra vel turpis nunc eget lorem dolor. Eu augue ut lectus arcu
    bibendum. Mauris vitae ultricies leo integer malesuada nunc vel. Aenean sed
    adipiscing diam donec adipiscing tristique risus. Vitae nunc sed velit
    dignissim. Donec enim diam vulputate ut pharetra. Tellus orci ac auctor
    augue. Velit scelerisque in dictum non consectetur a erat nam. Orci a
    scelerisque purus semper eget duis at. Enim sit amet venenatis urna cursus
    eget nunc scelerisque viverra. A lacus vestibulum sed arcu non odio euismod.
    Purus in mollis nunc sed id. Enim eu turpis egestas pretium aenean pharetra.
    Non curabitur gravida arcu ac tortor dignissim convallis. Lacus viverra
    vitae congue eu consequat ac. Fermentum leo vel orci porta non pulvinar
    neque. Diam donec adipiscing tristique risus nec feugiat in fermentum
    posuere. Elementum nibh tellus molestie nunc non. Enim sed faucibus turpis
    in. Maecenas pharetra convallis posuere morbi leo. At lectus urna duis
    convallis convallis tellus id interdum. Elit at imperdiet dui accumsan sit
    amet nulla facilisi. Dolor magna eget est lorem. Condimentum id venenatis a
    condimentum vitae sapien. Ut etiam sit amet nisl purus in. Penatibus et
    magnis dis parturient montes. Bibendum est ultricies integer quis auctor.
    Suspendisse in est ante in nibh mauris cursus. Non arcu risus quis varius
    quam quisque id diam. Malesuada fames ac turpis egestas maecenas pharetra
    convallis posuere. Nulla facilisi etiam dignissim diam quis enim lobortis.
    Pharetra magna ac placerat vestibulum lectus mauris ultrices. Fames ac
    turpis egestas maecenas. Mauris sit amet massa vitae tortor condimentum
    lacinia quis. Erat pellentesque adipiscing commodo elit. Augue ut lectus
    arcu bibendum at varius. Ullamcorper dignissim cras tincidunt lobortis
    feugiat vivamus. Vel pretium lectus quam id leo in. Mauris rhoncus aenean
    vel elit scelerisque mauris pellentesque pulvinar pellentesque. Etiam tempor
    orci eu lobortis elementum nibh tellus molestie nunc. Venenatis urna cursus
    eget nunc scelerisque viverra mauris in. Viverra mauris in aliquam sem.
    Tincidunt id aliquet risus feugiat in ante metus. Proin libero nunc
    consequat interdum. Id diam maecenas ultricies mi eget mauris. Consectetur
    libero id faucibus nisl tincidunt eget nullam non. Dictumst vestibulum
    rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Aliquam
    etiam erat velit scelerisque in dictum. Mauris pellentesque pulvinar
    pellentesque habitant morbi tristique senectus. Erat velit scelerisque in
    dictum non consectetur a. Massa sapien faucibus et molestie ac feugiat sed
    lectus. Tincidunt arcu non sodales neque sodales ut. Orci porta non pulvinar
    neque. Sollicitudin nibh sit amet commodo. Tellus rutrum tellus pellentesque
    eu tincidunt tortor. Dictumst quisque sagittis purus sit amet volutpat
    consequat mauris. Eget mi proin sed libero enim sed faucibus turpis. Integer
    malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Orci
    dapibus ultrices in iaculis nunc sed augue. Morbi tincidunt augue interdum
    velit euismod in pellentesque massa placerat. Senectus et netus et
    malesuada. Et malesuada fames ac turpis. At tempor commodo ullamcorper a.
    Mollis nunc sed id semper risus. Auctor urna nunc id cursus metus. Interdum
    posuere lorem ipsum dolor sit amet consectetur. Sagittis eu volutpat odio
    facilisis. Lorem donec massa sapien faucibus. Arcu ac tortor dignissim
    convallis. Interdum velit laoreet id donec ultrices tincidunt. Donec pretium
    vulputate sapien nec sagittis aliquam. Aenean vel elit scelerisque mauris
    pellentesque pulvinar. Tincidunt eget nullam non nisi. Donec pretium
    vulputate sapien nec sagittis aliquam malesuada bibendum. Faucibus a
    pellentesque sit amet porttitor eget. Iaculis at erat pellentesque
    adipiscing commodo elit. Blandit massa enim nec dui nunc mattis. Rutrum
    tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Turpis
    tincidunt id aliquet risus feugiat in. Amet nulla facilisi morbi tempus
    iaculis. Morbi non arcu risus quis varius. Mi proin sed libero enim. Amet
    nulla facilisi morbi tempus iaculis. Mauris rhoncus aenean vel elit
    scelerisque. Ut tristique et egestas quis ipsum suspendisse ultrices. Turpis
    egestas pretium aenean pharetra. Ultricies leo integer malesuada nunc vel
    risus commodo viverra.
  </p>
  <a href="{% url 'layouts' %}">GO TO LAYOUTS</a>
</main>
{% endblock body %}
